<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="description" content="A cool thing made with Glitch">

    <title>Adoración a Juanin Manzana</title>

    <link id="favicon" rel="icon" href="https://cdn.glitch.com/74636746-e73b-4bad-8bf1-3f7613fdfb76%2Fjmanzana.ico?v=1604611722812" type="image/x-icon">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
    <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  </head>
  <body>
    <div id="barra-superior">
      <header>
        <h1 align="center">Bienvenidos a El Lugar de adoración de Juanin Manzana</h1>
      </header>
    </div>
    

    <div id="contenido">
      <main>
        <p>
          Este es un bot de discord creado solo para adorar a Juanin Manzana, es la primera versión así que no tienen muchas funcionalidades, puede que en el futuro nos animemos a agregarle más funciones <br>
        </p>
        <p>
          Solo observen a esta hermosa entidad suprema y disfruten de la pagina ^^
        </p>
        <img src="https://cdn.glitch.com/74636746-e73b-4bad-8bf1-3f7613fdfb76%2Fjmanzana.png?v=1604611355578" alt="La entiedad Suprema con el nombre Juanin Manzana">
        <br>
        <p>
          Esta página mantiene al bot activo ^^ si quieres usarlo puedes entrar a esta pagina de vez en cuando.
        </p>
        
        <button id="linkinvite" role="link" onclick="window.location='https://discord.com/oauth2/authorize?client_id=760858593422737414&scope=bot&permissions=67619904'">
          Añade este bot a tu Server ^^
        </button>
        <br>
          <div id="comandos">
            <p>Prefijo ➜ Juanin.<br></p>
              <h4><b id="semititulo">Comandos actuales:</b><br></h4>
            <p> ✽ <code>Juanin.ayuda</code> <b>|</b> <code>oh gran poderoso juanin manzana ayudame</code> ➜ lista de comandos y link a esta página.</p>
            <p> ✽ <code>Juanin.iluminanos con tu grandeza</code> <b>|</b> <code>iluminanos oh gran poderoso juanin manzana</code> ➜ Dato interesante aleatorio.</p>
            
          </div>
      
      </main>
    </div>

    <footer>Dibujo por TryKVoid. Desarrolladora del bot Pau Kaoomi. <br> <b>No usamos a este personaje con animo de lucro,solo es un Fun Project</b></footer>

  </body>
</html>
